<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPizzaLabel">Create or edit a Pizza</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pizza.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pizza.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="pizza.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_basePrice">Base Price</label>
            <input type="number" class="form-control" name="basePrice" id="field_basePrice"
                [(ngModel)]="pizza.basePrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isVegan">Is Vegan</label>
            <input type="checkbox" class="form-control" name="isVegan" id="field_isVegan"
                [(ngModel)]="pizza.isVegan" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isSpicy">Is Spicy</label>
            <input type="checkbox" class="form-control" name="isSpicy" id="field_isSpicy"
                [(ngModel)]="pizza.isSpicy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                [(ngModel)]="pizza.number" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_pizzaWithSize">Pizza With Size</label>
            <select class="form-control" id="field_pizzaWithSize" name="pizzaWithSize" [(ngModel)]="pizza.pizzaWithSize" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pizzaWithSizeOption.id === pizza.pizzaWithSize?.id ? pizza.pizzaWithSize : pizzaWithSizeOption" *ngFor="let pizzaWithSizeOption of pizzawithsizes; trackBy: trackPizzaWithSizeById">{{pizzaWithSizeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
